<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wine.autotest.desktop.test.Desktop</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC08_orderCreationWihExistingAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC12_productsInCartAfterRemove</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC28_applyAndReovePromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC21_sortingOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC25_removeAllProductsFromTheCartContinueShoppingWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC11_removeFewProductsFromTheCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC33_finalReviewPageContinueShopping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC26_giftRecipientEmailValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC17_userProfileCreationMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC20_verifyStewardshipDiscount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC15_userProfileCreationWithDesiredState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC13_removeProductsFromTheSaveForLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC07_orderCreationWihNewAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC14_forgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC29_quantityPickerInCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_orderCreationWithExistingAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC31_verifySalesTaxInCartandFinalReviewPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC16_userProfileCreationWithCheckoutProcess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC24_removeAllProductsFromTheCartContinueShoppingWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_productFilteration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC04_orderCreationWithNewAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC01_Basetest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC35_VerifyWarningMsgaddShipTodayProductsAndListProductsToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC05_saveForLaterWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC18_orderCreationWithGiftCardForExistinguser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC23_searchProductWithCharacter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC34_invalidGiftCardValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC06_saveForLaterWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC22_verifyDiscountPriceInRedColorAndGrandTotalInBold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC30_invalidPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC32_QuantityPickerFromPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC19_orderCreationWithGiftCardForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC09_orderCreationWithPromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC10_orderCreationWithPromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC27_applyAndRemoveromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loadFiles</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Launchbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
