<h2>Methods that were not run</h2><table>
<tr><td>wine.autotest.desktop.test.Desktop.TC24_removeAllProductsFromTheCartContinueShoppingWithoutSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC02_productFilteration</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC04_orderCreationWithNewAccount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC35_VerifyWarningMsgaddShipTodayProductsAndListProductsToCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC18_orderCreationWithGiftCardForExistinguser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC23_searchProductWithCharacter</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC19_orderCreationWithGiftCardForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC05_saveForLaterWithoutSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC34_invalidGiftCardValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC06_saveForLaterWithSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC30_invalidPromoCode</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC27_applyAndRemoveromoCodeForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC09_orderCreationWithPromoCodeForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC31_verifySalesTaxInCartandFinalReviewPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC22_verifyDiscountPriceInRedColorAndGrandTotalInBold</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC32_QuantityPickerFromPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC10_orderCreationWithPromoCodeForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC08_orderCreationWihExistingAccountBillingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC12_productsInCartAfterRemove</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC15_userProfileCreationWithDesiredState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC28_applyAndReovePromoCodeForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC21_sortingOption</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC25_removeAllProductsFromTheCartContinueShoppingWithSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC26_giftRecipientEmailValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC33_finalReviewPageContinueShopping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC11_removeFewProductsFromTheCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC20_verifyStewardshipDiscount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC17_userProfileCreationMyWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC07_orderCreationWihNewAccountBillingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC14_forgotPassword</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC29_quantityPickerInCartPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC03_orderCreationWithExistingAccount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC13_removeProductsFromTheSaveForLater</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC16_userProfileCreationWithCheckoutProcess</td></tr>
</table>