<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9165a8">  <td>21/03/06 00:15:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Desktop.ExtendReport()[pri:0, instance:wine.autotest.desktop.test.Desktop@39d9314d]">&gt;&gt;ExtendReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845517769</td>   <td></td> </tr>
<tr bgcolor="9165a8">  <td>21/03/06 00:15:58</td>   <td>670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Desktop.TC01_Basetest()[pri:1, instance:wine.autotest.desktop.test.Desktop@39d9314d]">TC01_Basetest</td> 
  <td>main@1845517769</td>   <td></td> </tr>
</table>
