<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wine.autotest.desktop.test.Desktop</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC256_verifyCompassUserSubscription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC127_superscriptInProductPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC220_VerifyStewardship</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC120_stewardshipAutoRenewalOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC194_VerifySimilarRecmondedProdAredispAbvTheWineMakerNtesForOutOfStockInPip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC47_SortOptionsOfGiftCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC138_verifyErrorDisplayedForInvalidProductId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC141_addressGetsSavedOnceOnAddingNewAddressInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC18_orderCreationWithGiftCertForExistinguser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC65_orderCreationWithRegionForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC152_multipleTrackingOrderNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC209_reportingAddressPopUpforNewPickUpLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC94_InvalidEmailGiftRecipientValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC265_verifyDescriptionDisplayedInRecipientSectionWhenSelectLocalPickup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC208_VerifyStewardshipStdShiping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC134_creditCardInfoIsUpdatedInPaymentMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC76_orderCreationWithShippingMethodForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC248_VerifyMySommPageDisplayedthroughPickedSettingNav</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC206_verifyCustomerCareLinkinHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC207_verifyLinkinFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC179_passwordExceptsMoreThan15Char</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC38_verifyErrorMsgForUsedGiftCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC131_promoBannerBehaviourForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC129_collapsedDeliverySectionWhenThePreSaleItemIsAdded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC56_verifyItemWithoutQuantityPicker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC195_VerifyTatVarietalNRegOriginTextInPIPAreTheLinksToListPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC204_verifyCustomerShipstateRevertedToPreviousStateOutsideShoppingCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC43_HandelsXBottelsPerCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC119_verifyTheElementsDisplayedOverTheHeroImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC135_showOutOfStocksAndRecommenderProdutcs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC161_verifyTheShipsOnStatementInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC27_applyAndRemoveromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC162_modalLightBoxWithXIcon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC233_verifyPromoBarIsDispInSignAndThankYouPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC101_verifyEditFunctionalityForFedexeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC70_orderCreationWithSpecialProductsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC49_VerifyProductsAreListedInAlphbeticalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC231_verifyPromoCodeAndGiftCardErrorMassage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC196_VerifyGiftCardErrorMessageForInvalidCodes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC21_sortingOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC60_verifySaveCreditCardInfoCheckboxCheckedFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC153_creditInAccountSectionFullCredit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC112_verifyErrorMsgInvalidZipCodeForFedexeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC200_VerifyStewardshipMessageNtDisplayedinCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC216_OrderHistoryShippingAmountValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC133_fedexLocationForUPSStatesInRecipientSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC79_orderCreationWithEditFunctionalityInFinalReviewPageForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC190_VerifyPickUpFormIsNtDispForDiffBillingAddr</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC86_orderCreationWithWhiteWineForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC168_loginUsingFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC193_VerifyAddToCartAlertIsDispWhenProdIsAdded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC67_OrderCreationWithFilteringTheProductsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC57_verifyUnderVarietalFilters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC96_verifyTheFunctionalityOfAddAddressLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC188_verifyShippingCostAppliedToOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC44_CreateAccountButtonInActive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC122_newAlertSectionForCurrentlyUnavailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC178_verifyAboutProfRatingsHeaderisDispInProf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC137_VerifyContinueButtonIfAddressNtSelectedInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC118_errorMessageDisplayedForTheUserBelow21Years</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC103_verifyTheGiftOptionSummaryRecipientSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC166_ratingStarsDisplayedProperlyInMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC23_searchProductWithCharacter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC81_addAddressUsingUserProfileServicesForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC66_orderCreationWithRegionForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC143_removePreferredCreditCardDuringCheckout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC102_verifyBehaviourOFContinueButtonInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC117_aboutProffessionalandProductAttributeDescriptionInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC22_verifyDiscountPriceInRedColorAndGrandTotalInBold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC51_verifyEditFunctionalityofShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC61_verifyCollapsedPanelInShippingForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC36_verifyWarningMsgForDryStateShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC28_applyAndReovePromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC91_emailPrefernce</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC205_verifyEditFunctionalityofPreferredAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC142_deletePreferredCreditCardUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC59_verifySaveCreditCardInfoCheckboxUncheckedFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC214_VerifySiginModelforMyWineinListandPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC221_verifyTheBehaviorOfTheContinueButtonIfAddressNtSelectedInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC69_orderCreationWithSpecialProductsForExistingUserr</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC182_verifyProductsAreRemovedInMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC20_verifyStewardshipDiscount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC199_VerifyAddressfromAddresBooktoRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC108_stewardshipUpsellInFinalReviewPAgeForStandardShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC55_verifyStewardshipProgramAddedToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC174_verifyLocalPickupInformationDisplayedInCollapsedDeliverySection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC37_verifyWarningMsgForOnlyPreSaleProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC31_verifySalesTaxInCartandFinalReviewPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC50_PasswordValidationLessThanSixChar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC140_verifyTheAddressGetsDeletedPermanently</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC146_vintageRefinementsAreOrderedInChroNlogicalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC169_DoBFormatInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC185_verifyMyWineSignInNEditLinkForGiftMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC255_verifyDeliveryViaEmailDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC189_VerifyShippingAndHandlingQuestionMarkIconIsDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC234_VerifyGftCardBalDispIn_OrdrSummaryUponRedeem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC123_promoCodesThatDntMeetMinimumAmount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC219_VerifyRecommendedProductsAfterRatingTheStars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC154_creditInAccountSectionRemainingCredit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC06_saveForLaterWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC42_verifyWarningMsgForRemoveShipTodayProductsFromCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC09_orderCreationWithPromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC99_verifyErrorMsgForAddingNewCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC111_verifyStewardshipChargesAreSavedInFinalReviewPAgeForStandardShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC58_verifyTitleAndTotalOrderAndImageInShoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC184_verifyDefaultGiftBagButtonIsUnchecked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC105_updateShippingAddressInAddressBook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC100_verifyEditFunctionalityForHomeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC25_removeAllProductsFromTheCartContinueShoppingWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC87_verifyGiftWrappingSectionNtDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC93_ratingStarsHiddenInPIPForGifts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC113_verifyProductsAreListedInAlphabeticalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC172_verifyOrderOfProductsIconInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC147_enteredGiftCardGiftCertificateSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC263_verifyGiftCardRemainingIsNtDisplayedInTheOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC254_verifyGiftCardAccountDisplayedInThePaymentOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC07_orderCreationWihNewAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC13_removeProductsFromTheSaveForLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC266_verifyContentDisplayedUnderMySOMMSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC183_verify30LocationsAreDispInFedexAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC159_continueWithFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC24_removeAllProductsFromTheCartContinueShoppingWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC149_userSelectsToPayWithDifferentCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC228_verifyGoBackButtonIsDispInFedexWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC224_verifyAddressGetsDeletPermanentlyFromTheShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC104_newArrivalAlertsInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC19_orderCreationWithGiftCertForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC175_verifyFedexDisplaysProperGoogleAdresses</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC167_verifyTheFourAddressAndCreditcards</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC41_verifyAddToCartButtonFunctionlityForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC171_verifyShipToDateUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC186_verifyAddAntherTextAndCorporateGiftsLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC211_VerifyUserNtabletoSelectSaturdayForShippinginHawaii</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC158_verifyRatingOptionIsDisplayedInSliderBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC139_filterIsHighlightedInBlueInListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC132_sortOrderInNewArrivalAlerts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC225_verifyContentInTheOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC32_QuantityPickerFromPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC45_VerifyInvalidEmailInCreateAccountForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC227_stewardUpsellshouldMatchShippingAndHandalingCharges</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC235_VerifyGftCrdAccIsDispInPymntOpt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC12_productsInCartAfterRemove</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC170_verifyMilitaryOfficeBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC251_verifyTheOfferPageIsDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC247_VerifyChangeDelvyDateandRecipientAddressinPickedSettingpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC226_verifyShippinAndHandalingChargesAppliedToTheNnStewardshipUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC71_orderCreationWithTopRatedProductsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC212_verifyAddToMyWineFunctionalityinPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC39_verifyWarningMsgForDryStateSaveForLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC52_orderCreationWithFedExAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC257_verifyGiftCardRedeemedDisplayedInOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC29_quantityPickerInCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC84_addPaymentMethodUsingUserProfileServicesForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC54_addProductsToCartWithoutSelectingState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC242_VerifyDetailedTermsAndConditionsPageIsDispOnClickingReadTermsLnk</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC109_itemsNtEligibleForPromoCodeRedemption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC180_verifyDiffGiftBagTot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC260_VerifyRedWhiteButtonPresentinPriceQtyWidgetPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC64_verifyOptionTryVinatageAndRemoveButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC04_orderCreationWithNewAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC83_addPaymentMethodUsingUserProfileServicesForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC192_VerifyVareitalPlusRegionIsDisplayedInHeroImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC35_VerifyWarningMsgaddShipTodayProductsAndListProductsToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC34_invalidGiftCardValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC95_verifyPromoBarIsDisplayedInAccountPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC222_verifyTheBillingAddressCheckboxIsCheckedByDefault</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC121_verifyLinksDispalyedInFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC30_invalidPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC210_VerifyUserNtabletoSelectSaturdayForShippinginAlaska</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC176_verifyBillingPhoneNumberIsRequiredField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC89_forgotPasswordInvalidEmailErrorMsgValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC78_OrderCreationWithEditFunctionalityInFinalReviewPageForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC98_preferredAdressFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC77_OrderCreationWithShippingMethodForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC252_verifyTheElementsDisplayedInThankyouPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC262_verifyGiftCardRedeemedDisplayedInOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC197_VerifyNewTagTitlesForListPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC236_VerifyGftCrdSucessMsgDispAftrGftCrdApplied</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC130_removeCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC144_calenderDispalyedSixMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC33_finalReviewPageContinueShopping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC11_removeFewProductsFromTheCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC75_orderCreationWithMyWineForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC17_userProfileCreationMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC223_verifyBillingAddressDisplayedOnUncheckingTheBillingSameAsShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC80_addAddressUsingUserProfileServicesForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC82_orderCreationUsingUserProfileServicesWithStewardshipSettings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC163_verifyRecommendedProductsOnRating</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_orderCreationWithExistingAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC68_orderCreationWithProductFilterationForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC16_userProfileCreationWithCheckoutProcess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_productFilteration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC215_orderHistoryProgressBarValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC230_verifyTheRareProductAttributeIconDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC107_verifyStewardshipUpsellWhenCartIsEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC240_VerifyGiftCardWithZeroBalanceIsRemovedInPaymentSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC261_VerifyLikeDislikeNtSelectedinVeritalpreferencePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC238_ValidateTheSubscriptionFlowForLocalPickupAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC110_verifyUserIsNavigatedToAppropriateTextUrl</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC243_VerifyLikedandDisLikedRedWhiteWineinAnythingElseSectionAndTotalPricewithQtyvalidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC165_alphabeticalOrderMovingFromSaveForLaterToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC173_shipSoonCheckBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC46_HandleSoldInIncrementOfXProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC136_verifyTheAddressInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC73_orderCreationWithGiftsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC191_VerifyDOBFieldIsPresentInPaymntAfterAddingNewCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC26_giftRecipientEmailValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC15_userProfileCreationWithDesiredState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC203_verifyCustomerShipstateRevertedToPreviousStateInsideShoppingCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC148_verifyNtMoreThanTwoGiftCardreedemed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC126_viewAllWineForDifferentStates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC237_VerifyTheRecipientSectionUIUnderSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC157_existingCustomerLinkInNewCustomerRegisterPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC151_wireUpCalender</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC244_ValidateCompassEnrollmentFlowforWhiteWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC114_verifyErrorMessageInTheLoginComponent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC202_VerifyProductMovedToCartFromSaveForLaterOnClickingMoveToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC217_VerifyCopyrightsinFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC198_VerifyWetStateandPromoBannerinHomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC01_Basetest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC125_productAttributeDescriptionInListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC05_saveForLaterWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC72_orderCreationWithTopRatedProductsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC145_verifyShipToTthisAddressSelectionChanged</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC124_giftMessageRemainingCharacterCountdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC201_VerifySaveForLaterOnClickingContinueShipToKY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC258_VerifyRescheduleSubscriptioninPickedSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC229_validatePromoCodeAppliedMessageDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC218_VerifyAddToCartButtonDisplayedForRecommendedProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC10_orderCreationWithPromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC08_orderCreationWihExistingAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC63_verifySuggestedShippingAddressWidget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC213_verifyAddToMyWineFunctionalityinPIPforrating</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC264_verifyCompassUserNtAbleToEnrollForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC48_VerifyOutOFStockCheckboxChecked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC253_verifyStewardshipDiscountDisplayedNegetiveInHistory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC155_giftBagIsDisplayedAsLineItemInShoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC116_verifyTheSocialMediaLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC177_verifyAddressSuggestioIsDisplayedAndAddressNtAutoUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC62_verifyStateChangeDialog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC88_forgotPasswordValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC181_verifyAddToMyWineFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC241_ValidateTheSubscriptionFlowForHomeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC239_VerifySubscriptionSettingsSummIsDispInCheckoutNRecipientPaymnt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC259_VerifyUserAbletoSetRedWhiteBottleCountto0or6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC14_forgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC74_orderCreationWithGiftsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC246_ValidateCompassEnrollmentFlowforBothRedandWhiteWineWithSubscriptionSettingsandPymtMethodEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC245_ValidateCompassEnrollmentFlowforRedWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC249_VerifyContentforYourSubscriptioninPickedSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC232_verifyCorporateGiftLinkDisplayedUnderCustomerCareSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC187_verifyPromoBarIsDispInSignAndThankYouPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC85_orderCreationWithWhiteWineForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC156_createNewAccountWhileRatingTheProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC97_verifyTheContentsOfVerifyAddressDialog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC150_verifySortFunctionalitiesUnderMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC53_verifyAddGiftWrappingToCartFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC128_ABVandFoundLowerPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC40_verifyDryStateProductsUnavailableFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC106_productsInsaveForLaterNtStayedBackShipToSateChange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC164_limitReached</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC250_VerifyUserAbleToAddGifrWrappingMessageAndEmailAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC115_updateAccountInfoWithOutDate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loadFiles</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Launchbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
