<h2>Methods that were not run</h2><table>
<tr><td>wine.autotest.desktop.test.Desktop.TC140_verifyTheAddressGetsDeletedPermanently</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC202_VerifyProductMovedToCartFromSaveForLaterOnClickingMoveToCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC109_itemsNtEligibleForPromoCodeRedemption</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC244_ValidateCompassEnrollmentFlowforWhiteWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC180_verifyDiffGiftBagTot</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC217_VerifyCopyrightsinFooter</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC04_orderCreationWithNewAccount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC185_verifyMyWineSignInNEditLinkForGiftMessage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC192_VerifyVareitalPlusRegionIsDisplayedInHeroImage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC01_Basetest</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC157_existingCustomerLinkInNewCustomerRegisterPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC34_invalidGiftCardValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC124_giftMessageRemainingCharacterCountdown</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC123_promoCodesThatDntMeetMinimumAmount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC229_validatePromoCodeAppliedMessageDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC154_creditInAccountSectionRemainingCredit</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC121_verifyLinksDispalyedInFooter</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC210_VerifyUserNtabletoSelectSaturdayForShippinginAlaska</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC50_PasswordValidationLessThanSixChar</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC09_orderCreationWithPromoCodeForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC31_verifySalesTaxInCartandFinalReviewPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC176_verifyBillingPhoneNumberIsRequiredField</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC227_stewardUpsellshouldMatchShippingAndHandalingCharges</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC170_verifyMilitaryOfficeBillingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC247_VerifyChangeDelvyDateandRecipientAddressinPickedSettingpage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC251_verifyTheOfferPageIsDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC226_verifyShippinAndHandalingChargesAppliedToTheNnStewardshipUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC46_HandleSoldInIncrementOfXProducts</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC59_verifySaveCreditCardInfoCheckboxUncheckedFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC212_verifyAddToMyWineFunctionalityinPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC39_verifyWarningMsgForDryStateSaveForLater</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC71_orderCreationWithTopRatedProductsForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC52_orderCreationWithFedExAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC20_verifyStewardshipDiscount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC257_verifyGiftCardRedeemedDisplayedInOrderSummary</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC203_verifyCustomerShipstateRevertedToPreviousStateInsideShoppingCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC221_verifyTheBehaviorOfTheContinueButtonIfAddressNtSelectedInRecipientPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC174_verifyLocalPickupInformationDisplayedInCollapsedDeliverySection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC84_addPaymentMethodUsingUserProfileServicesForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC54_addProductsToCartWithoutSelectingState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC37_verifyWarningMsgForOnlyPreSaleProducts</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC24_removeAllProductsFromTheCartContinueShoppingWithoutSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC150_verifySortFunctionalitiesUnderMyWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC215_orderHistoryProgressBarValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC228_verifyGoBackButtonIsDispInFedexWindow</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC02_productFilteration</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC232_verifyCorporateGiftLinkDisplayedUnderCustomerCareSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC261_VerifyLikeDislikeNtSelectedinVeritalpreferencePage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC41_verifyAddToCartButtonFunctionlityForDryState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC171_verifyShipToDateUpdated</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC156_createNewAccountWhileRatingTheProduct</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC158_verifyRatingOptionIsDisplayedInSliderBar</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC132_sortOrderInNewArrivalAlerts</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC128_ABVandFoundLowerPrice</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC243_VerifyLikedandDisLikedRedWhiteWineinAnythingElseSectionAndTotalPricewithQtyvalidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC139_filterIsHighlightedInBlueInListPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC173_shipSoonCheckBox</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC63_verifySuggestedShippingAddressWidget</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC78_OrderCreationWithEditFunctionalityInFinalReviewPageForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC236_VerifyGftCrdSucessMsgDispAftrGftCrdApplied</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC262_verifyGiftCardRedeemedDisplayedInOrderSummary</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC197_VerifyNewTagTitlesForListPages</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC155_giftBagIsDisplayedAsLineItemInShoppingCartPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC144_calenderDispalyedSixMonth</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC88_forgotPasswordValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC172_verifyOrderOfProductsIconInPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC11_removeFewProductsFromTheCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC75_orderCreationWithMyWineForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC240_VerifyGiftCardWithZeroBalanceIsRemovedInPaymentSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC181_verifyAddToMyWineFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC239_VerifySubscriptionSettingsSummIsDispInCheckoutNRecipientPaymnt</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC266_verifyContentDisplayedUnderMySOMMSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC80_addAddressUsingUserProfileServicesForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC17_userProfileCreationMyWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC82_orderCreationUsingUserProfileServicesWithStewardshipSettings</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC183_verify30LocationsAreDispInFedexAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC03_orderCreationWithExistingAccount</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC163_verifyRecommendedProductsOnRating</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC248_VerifyMySommPageDisplayedthroughPickedSettingNav</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC260_VerifyRedWhiteButtonPresentinPriceQtyWidgetPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC151_wireUpCalender</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC83_addPaymentMethodUsingUserProfileServicesForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC198_VerifyWetStateandPromoBannerinHomePage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC125_productAttributeDescriptionInListPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC56_verifyItemWithoutQuantityPicker</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC05_saveForLaterWithoutSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC72_orderCreationWithTopRatedProductsForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC258_VerifyRescheduleSubscriptioninPickedSetting</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC10_orderCreationWithPromoCodeForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC12_productsInCartAfterRemove</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC222_verifyTheBillingAddressCheckboxIsCheckedByDefault</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC47_SortOptionsOfGiftCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC127_superscriptInProductPrice</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC191_VerifyDOBFieldIsPresentInPaymntAfterAddingNewCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC26_giftRecipientEmailValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC148_verifyNtMoreThanTwoGiftCardreedemed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC208_VerifyStewardshipStdShiping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC237_VerifyTheRecipientSectionUIUnderSubscriptionFlow</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC76_orderCreationWithShippingMethodForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC249_VerifyContentforYourSubscriptioninPickedSetting</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC117_aboutProffessionalandProductAttributeDescriptionInPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC230_verifyTheRareProductAttributeIconDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC74_orderCreationWithGiftsForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC166_ratingStarsDisplayedProperlyInMyWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC193_VerifyAddToCartAlertIsDispWhenProdIsAdded</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC85_orderCreationWithWhiteWineForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC97_verifyTheContentsOfVerifyAddressDialog</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC137_VerifyContinueButtonIfAddressNtSelectedInRecipientPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC115_updateAccountInfoWithOutDate</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC53_verifyAddGiftWrappingToCartFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC81_addAddressUsingUserProfileServicesForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC106_productsInsaveForLaterNtStayedBackShipToSateChange</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC40_verifyDryStateProductsUnavailableFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC98_preferredAdressFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC08_orderCreationWihExistingAccountBillingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC252_verifyTheElementsDisplayedInThankyouPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC264_verifyCompassUserNtAbleToEnrollForDryState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC196_VerifyGiftCardErrorMessageForInvalidCodes</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC253_verifyStewardshipDiscountDisplayedNegetiveInHistory</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC116_verifyTheSocialMediaLinks</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC213_verifyAddToMyWineFunctionalityinPIPforrating</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC62_verifyStateChangeDialog</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC200_VerifyStewardshipMessageNtDisplayedinCartPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC223_verifyBillingAddressDisplayedOnUncheckingTheBillingSameAsShipping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC241_ValidateTheSubscriptionFlowForHomeAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC259_VerifyUserAbletoSetRedWhiteBottleCountto0or6</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC133_fedexLocationForUPSStatesInRecipientSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC216_OrderHistoryShippingAmountValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC246_ValidateCompassEnrollmentFlowforBothRedandWhiteWineWithSubscriptionSettingsandPymtMethodEdit</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC153_creditInAccountSectionFullCredit</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC14_forgotPassword</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC245_ValidateCompassEnrollmentFlowforRedWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC146_vintageRefinementsAreOrderedInChroNlogicalOrder</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC206_verifyCustomerCareLinkinHeader</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC114_verifyErrorMessageInTheLoginComponent</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC179_passwordExceptsMoreThan15Char</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC255_verifyDeliveryViaEmailDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC189_VerifyShippingAndHandlingQuestionMarkIconIsDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC145_verifyShipToTthisAddressSelectionChanged</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC195_VerifyTatVarietalNRegOriginTextInPIPAreTheLinksToListPages</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC38_verifyErrorMsgForUsedGiftCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC43_HandelsXBottelsPerCustomer</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC135_showOutOfStocksAndRecommenderProdutcs</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC218_VerifyAddToCartButtonDisplayedForRecommendedProducts</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC27_applyAndRemoveromoCodeForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC161_verifyTheShipsOnStatementInPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC61_verifyCollapsedPanelInShippingForm</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC15_userProfileCreationWithDesiredState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC194_VerifySimilarRecmondedProdAredispAbvTheWineMakerNtesForOutOfStockInPip</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC141_addressGetsSavedOnceOnAddingNewAddressInUserProfile</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC138_verifyErrorDisplayedForInvalidProductId</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC73_orderCreationWithGiftsForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC28_applyAndReovePromoCodeForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC142_deletePreferredCreditCardUserProfile</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC65_orderCreationWithRegionForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC136_verifyTheAddressInRecipientPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC18_orderCreationWithGiftCertForExistinguser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC152_multipleTrackingOrderNumber</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC209_reportingAddressPopUpforNewPickUpLocation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC94_InvalidEmailGiftRecipientValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC118_errorMessageDisplayedForTheUserBelow21Years</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC182_verifyProductsAreRemovedInMyWine</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC126_viewAllWineForDifferentStates</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC16_userProfileCreationWithCheckoutProcess</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC86_orderCreationWithWhiteWineForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC188_verifyShippingCostAppliedToOrderSummary</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC57_verifyUnderVarietalFilters</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC96_verifyTheFunctionalityOfAddAddressLink</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC187_verifyPromoBarIsDispInSignAndThankYouPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC265_verifyDescriptionDisplayedInRecipientSectionWhenSelectLocalPickup</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC178_verifyAboutProfRatingsHeaderisDispInProf</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC186_verifyAddAntherTextAndCorporateGiftsLink</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC103_verifyTheGiftOptionSummaryRecipientSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC23_searchProductWithCharacter</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC211_VerifyUserNtabletoSelectSaturdayForShippinginHawaii</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC164_limitReached</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC220_VerifyStewardship</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC102_verifyBehaviourOFContinueButtonInRecipientPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC45_VerifyInvalidEmailInCreateAccountForm</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC225_verifyContentInTheOrderPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC250_VerifyUserAbleToAddGifrWrappingMessageAndEmailAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC22_verifyDiscountPriceInRedColorAndGrandTotalInBold</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC162_modalLightBoxWithXIcon</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC101_verifyEditFunctionalityForFedexeAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC111_verifyStewardshipChargesAreSavedInFinalReviewPAgeForStandardShipping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC58_verifyTitleAndTotalOrderAndImageInShoppingCartPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC100_verifyEditFunctionalityForHomeAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC70_orderCreationWithSpecialProductsForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC87_verifyGiftWrappingSectionNtDisplayed</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC25_removeAllProductsFromTheCartContinueShoppingWithSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC48_VerifyOutOFStockCheckboxChecked</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC177_verifyAddressSuggestioIsDisplayedAndAddressNtAutoUpdated</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC93_ratingStarsHiddenInPIPForGifts</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC254_verifyGiftCardAccountDisplayedInThePaymentOption</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC112_verifyErrorMsgInvalidZipCodeForFedexeAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC231_verifyPromoCodeAndGiftCardErrorMassage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC79_orderCreationWithEditFunctionalityInFinalReviewPageForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC07_orderCreationWihNewAccountBillingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC190_VerifyPickUpFormIsNtDispForDiffBillingAddr</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC64_verifyOptionTryVinatageAndRemoveButton</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC207_verifyLinkinFooter</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC35_VerifyWarningMsgaddShipTodayProductsAndListProductsToCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC131_promoBannerBehaviourForDryState</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC129_collapsedDeliverySectionWhenThePreSaleItemIsAdded</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC234_VerifyGftCardBalDispIn_OrdrSummaryUponRedeem</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC204_verifyCustomerShipstateRevertedToPreviousStateOutsideShoppingCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC219_VerifyRecommendedProductsAfterRatingTheStars</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC95_verifyPromoBarIsDisplayedInAccountPages</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC99_verifyErrorMsgForAddingNewCreditCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC119_verifyTheElementsDisplayedOverTheHeroImage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC06_saveForLaterWithSignIn</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC30_invalidPromoCode</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC42_verifyWarningMsgForRemoveShipTodayProductsFromCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC89_forgotPasswordInvalidEmailErrorMsgValidation</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC235_VerifyGftCrdAccIsDispInPymntOpt</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC256_verifyCompassUserSubscription</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC120_stewardshipAutoRenewalOption</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC36_verifyWarningMsgForDryStateShippingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC91_emailPrefernce</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC205_verifyEditFunctionalityofPreferredAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC214_VerifySiginModelforMyWineinListandPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC69_orderCreationWithSpecialProductsForExistingUserr</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC108_stewardshipUpsellInFinalReviewPAgeForStandardShipping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC55_verifyStewardshipProgramAddedToCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC199_VerifyAddressfromAddresBooktoRecipientPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC29_quantityPickerInCartPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC242_VerifyDetailedTermsAndConditionsPageIsDispOnClickingReadTermsLnk</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC134_creditCardInfoIsUpdatedInPaymentMethods</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC67_OrderCreationWithFilteringTheProductsForExistingUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC168_loginUsingFacebook</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC224_verifyAddressGetsDeletPermanentlyFromTheShippingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC149_userSelectsToPayWithDifferentCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC122_newAlertSectionForCurrentlyUnavailable</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC104_newArrivalAlertsInUserProfile</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC44_CreateAccountButtonInActive</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC175_verifyFedexDisplaysProperGoogleAdresses</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC107_verifyStewardshipUpsellWhenCartIsEmpty</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC238_ValidateTheSubscriptionFlowForLocalPickupAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC19_orderCreationWithGiftCertForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC110_verifyUserIsNavigatedToAppropriateTextUrl</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC66_orderCreationWithRegionForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC165_alphabeticalOrderMovingFromSaveForLaterToCart</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC143_removePreferredCreditCardDuringCheckout</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC51_verifyEditFunctionalityofShippingAddress</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC32_QuantityPickerFromPIP</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC68_orderCreationWithProductFilterationForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC233_verifyPromoBarIsDispInSignAndThankYouPage</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC77_OrderCreationWithShippingMethodForNewUser</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC130_removeCreditCard</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC105_updateShippingAddressInAddressBook</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC21_sortingOption</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC60_verifySaveCreditCardInfoCheckboxCheckedFunctionality</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC49_VerifyProductsAreListedInAlphbeticalOrder</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC184_verifyDefaultGiftBagButtonIsUnchecked</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC113_verifyProductsAreListedInAlphabeticalOrder</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC33_finalReviewPageContinueShopping</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC147_enteredGiftCardGiftCertificateSection</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC167_verifyTheFourAddressAndCreditcards</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC263_verifyGiftCardRemainingIsNtDisplayedInTheOrderSummary</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC169_DoBFormatInUserProfile</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC159_continueWithFacebook</td></tr>
<tr><td>wine.autotest.desktop.test.Desktop.TC13_removeProductsFromTheSaveForLater</td></tr>
</table>