<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Wine Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:16:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Desktop.Closebrowser()[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&lt;&lt;Closebrowser</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:16:47</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;Desktop.EndReport()[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&lt;&lt;EndReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:14:21</td>   <td>-146001</td> <td>&nbsp;</td><td title="&gt;&gt;Desktop.ExtendReport()[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&gt;&gt;ExtendReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:14:21</td>   <td>-145837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Desktop.Launchbrowser(java.lang.String)[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&gt;&gt;Launchbrowser</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:14:27</td>   <td>-140087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Desktop.TC201_VerifySaveForLaterOnClickingContinueShipToKY()[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">TC201_VerifySaveForLaterOnClickingContinueShipToKY</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:16:47</td>   <td>243</td> <td title="&lt;&lt;Desktop.endScenariosExecution()[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&lt;&lt;endScenariosExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>21/06/04 14:14:21</td>   <td>-145849</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Desktop.loadFiles(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wine.autotest.desktop.test.Desktop@7e0ea639]">&gt;&gt;loadFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
